

{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>CADASTRO</title>
        <meta name="description" content="cadatro Ciltec">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% block 'head' %}{% endblock %}

        <title>{% block 'title' %}{% endblock %}</title>
    </head>
    <body>

        <header class="sidebar">

            <div class="logo-details">
                <div class="logo-name">CILTEC</div>
                <i class="bx bx-menu" id="btn"></i>
            </div>

            <ul class="nav-list" >
                <li>
                    <a href="{% url 'cliente'%}">  
                        <i class="bx bx-user"></i>
                        <span class="links_name">Clientes</span>
                    </a>
                    <span class="tooltip">Clientes</span>
                </li>
                
                <li>
                    <a href="{% url 'servicos'%}">  
                        <i class="bx bx-chat"></i>
                        <span class="links_name">Serviços</span>
                    </a>
                    <span class="tooltip">Serviços</span>
                </li>
                
                <li>
                    <a href="{% url 'agendamento'%}">  
                        <i class="bx bx-folder"></i>
                        <span class="links_name">Agendamento</span>
                    </a>
                    <span class="tooltip">Agendamento</span>
                </li>
                
                <li>
                    <a href="{% url 'area'%}">  
                        <i class="bx bx-ar"></i>
                        <span class="links_name">Area do Cliente</span>
                    </a>
                    <span class="tooltip">Area do Cliente</span>
                </li>
            </ul>
 
        </header>
        <main>
            <section class="home-section">
                {% block 'dashboard'%}
                {% endblock %}
            </section>
        </main>

        {% block 'body' %}{% endblock %}
       
        <script src="" async defer></script>
    </body>
</html>