{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    {% block 'head' %}
        <link rel="stylesheet" href="{% static '/cliente/areas.css'%}">
        <link rel="stylesheet" href="{% static '/cliente/css/dashboard.css'%}"> 
    {% endblock %}
    <body>
        <div class="g_area">

            <h1>Area de Serviços</h1>

        </div>


        <!--comando para expor os dados do sqlite-->

        
        {% block  dashboard %}
            <div class="areas">
                <div class="area_f">
                    <a href="{% url 'area'%}">Voltar</a>
                    <span>&raquo;</span>
                    <a href="{% url 'cliente'%}">Home/</a>
                    <a href="{% url 'area_clientes'%}">Clientes</a>
                </div>
            </div>
        {% endblock %}
        <div class="d_area">
            <div class="container">
                    
                {% for item in lista %}
                <div class="f_area">

                    <h3>ID</h3>{{ item.nomeID}}<br><br> <h3>Modelo</h3>{{ item.modelo }}<br><br> <h3>Cliente</h3>{{ item.cliente }}<br><br> <h3>Computador</h3>{{item.computador}}<br><br> <h3>Problema</h3>{{ item.servicos }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% block footer %} 
            <footer> 
             <div class="areas">
                <div class="area_f">
                    <a href="{% url 'area'%}">Voltar</a>
                    <span>&raquo;</span>
                    <a href="{% url 'cliente'%}">Home/</a>
                    <a href="{% url 'area_servicos'%}">Serviços</a>
                </div>
            </div>    
            </footer> 
        {% endblock %} 
       
           
    </body>                


            