{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    {% block 'head' %}
        <link rel="stylesheet" href="{% static '/cliente/areas.css' %}">
        <link rel="stylesheet" href="{% static '/cliente/css/dashboard.css'%}">
    {% endblock %}
    <body>
        <div class="g_area">

            <h1>Area dos Clientes</h1>

        </div>

        <!--comando para expor os dados do sqlite-->

        

        {% block  dashboard %}
            <div class="areas">
                <div class="area_f">
                    <a href="{% url 'area'%}">Voltar</a>
                    <span>&raquo;</span>
                    <a href="{% url 'cliente'%}">Home/</a>
                    <a href="{% url 'area_servicos'%}">Serviços</a>
                </div>
            </div>
        {% endblock %}
        {% block content %}
            <div class="d_area">
                <div class="f_area">
                    <div class= t1><h3>Dados do Cliente</h3></div>
                    <a class="btn btn-success" href="{% url 'cliente_add'%}">Adcionar</a>

                    <div class="card">
                        <div class="card-body">
                            
                            
                            
                            <table class="table_tr">
                                <thead class="t_th">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Celular</th>
                                        <th>Telefone</th>
                                    
                                    </tr>
                                </thead> 
                                <tbody class="t_td">
                                    {% for item in lista %}
                                    
                                    <tr>
                                        
                                        <td>{{ item.nomeId }}</td>
                                        <br>
                                        <td>{{ item.nome }}</td>
                                        <br>
                                        <td>{{ item.email }}</td>
                                        <br>
                                        <td>{{ item.celular }}</td>
                                        <br>
                                        <td>{{ item.telefone_fixo }}</td>
                                        <td>
                                            <button class="btn btn-warning">Editar</button>
                                            <button class="btn btn-danger">Excluir</button>
                                            </td>
                                   
                                    </tr> 
                                     
                                    {% endfor %}

                                    
                                    </br>
                                </tbody>   
                            </table> 
                        </div>    
                    </div> 

                </div>    
            </div> 
        {% endblock%}
        {% block footer %} 
            <footer> 
             <div class="areas">
                <div class="area_f">
                    <a href="{% url 'area'%}">Voltar</a>
                    <span>&raquo;</span>
                    <a href="{% url 'cliente'%}">Home/</a>
                    <a href="{% url 'area_servicos'%}">Serviços</a>
                </div>
            </div>    
            </footer> 
        {% endblock %} 
       
    </body>    


    