{% extends "base.html" %}
{% load static %}




{% block 'head' %}
    <link rel="stylesheet" href="{% static 'cliente/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'cliente/css/header.css' %}"> 
{% endblock %}



{% block 'dashboard' %}
    <main>
        <div class="container">
            <div class="row">
                <div class="card-dashboard">
                    <p class="text-card">Cliente</p>
                </div>
            </div>    

            <!--Area Cliente-->

            <div class="add-cliente">
                <form class="f_cadastro" action="{% url 'cliente'%}" method="POST">{% csrf_token %}

                    <label class="f_cliente">ID:</label>
                    <input type="int" name="nomeId" value="{{nomeId}}"> 

                    <label class="f_cliente">Nome:</label>
                    <input type="text" name="nome" value="{{nome}}"> 

                    <label class="f_cliente">Email:</label>
                    <input type="email" name="email"  pattern="([A-Za-z0-9]+[,-_])*[A-Za-z0-9]+@[A-Za-z0-9.]+(\.[A-Z|a-z]{2,})"  placeholder="example@email.com" value="{{email}}">  

                    <label class="f_cliente">Celular:</label>
                    <input type="tel" name="celular" pattern="[0-9]{2}[9]{1}[0-9]{4}[0-9]{4}"  placeholder="xx 9-xxxx-xxxx" value="{{celular}}">  

                    <label class="f_cliente">Telefone:</label>
                    <input type="tel" name="telefone_fixo" pattern="[0-9]{2}[0-9]{4}[0-9]{4}"  placeholder="xx xxxx-xxxx" value="{{telefone_fixo}}"><br>

                    <input type="submit" name="btn_enviar" id="btn_enviar" value="SALVAR"/>
                     
                </form>
            </div>
        </div>    
    </main>    
{% endblock %}



