{% extends "base.html" %}
{% load static %}




{% block 'head' %}
    <link rel="stylesheet" href="{% static 'cliente/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'cliente/css/header.css' %}"> 
{% endblock %}



{% block 'dashboard' %}
     

    <!--Area Cliente-->

            
    <div class="add-servico">
        <form class="f_cadastro" action="{% url 'servicos'%}" method="POST">{% csrf_token %}

            <label class="f_cliente">ID:</label>
            <input type="int" name="nomeID" value="{{nomeID}}"> 

            <label class="f_cliente">Computador:</label>
            <input type="text" name="computador" value="{{Computador}}">

            
            <label class="f_cliente">Cliente:</label>
            <input type="text" name="cliente" value="{{cliente}}">

            <label class="f_cliente">Modelo:</label>
            <input type="text" name="modelo">  
            <p>serviço</p>
            <textarea name="servicos"  cols="50" rows="10" maxlength="50" autofocus></textarea><br>

            <input type="submit" name="btn_enviar" id="btn_enviar" value="SALVAR"/> 

        </form>
    </div>
            
       
{% endblock %}



