


body{
   background-color: blanchedalmond;

   
}
.sidebar{

    margin: 0;
    padding: 15px;/*padding enlarguece*/
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid black ;
    background-color: rgb(139, 139, 173);
   
    
    
   
}
.nav-list{
    background-color: white;
    
}

li{
   display: inline;
   list-style-type: none;
   padding: 20px;

}
.tooltip{
    display: none;
    
}
.logo-name{
    color: blue;
}
